# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.userprefs

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
**/packages/

# Logs
*.log

# Rider
.idea/

# Others
*.dbmdl
*.bak
