@model MVC_Core_Assignment_1.Models.Product

<h2>Add New Product</h2>

<form asp-action="AddNewProduct" method="post">
    <div>
        <label>Id:</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div>
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label>Price:</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<a href="/Product/Index">Back to Menu</a>
