@{
    ViewData["Title"] = "Product Home";
}

<h2>Product Menu</h2>
<ul>
    <li><a href="/Product/DisplayAllProducts">Display All Products</a></li>
    <li><a href="/Product/DisplayProductById">Display Product By Id </a></li>
    <li><a href="/Product/AddNewProduct">Add New Product</a></li>
    <li><a href="/Product/DeleteProduct">Delete Product</a></li>
</ul>
