@{
    ViewData["Title"] = "ATM Dashboard";
}


<h2>ATM Operations</h2>


<ul>
    <li><a asp-action="Deposit">Deposit Money</a></li>
    <li><a asp-action="Withdraw">Withdraw Money</a></li>
    <li><a asp-action="Balance">Check Balance</a></li>
    <li><a asp-action="MiniStatement">Mini Statement</a></li>
</ul>